/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  mask-size: 100%;
}

.app {
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 40px;
  padding-top: 100px;
  grid-template-columns: 370px 500px;
}

.sidebar button {
  margin-left: 240px;
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}
.friend {
  display: grid;
  font-size: 15px;
  grid-template-columns: 50px 220px 0px 90px;
  grid-template-areas:
    " i n n b"
    " i p p b";
}

.friend img {
  grid-area: i;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.friend h3 {
  grid-area: n;
  margin-top: 6px;
  margin-left: 15px;
  font-weight: bold;
}

.friend p {
  grid-area: p;
  margin-left: 15px;
  font-weight: bold;
}

.friend button {
  grid-area: b;
  height: 40px;
  justify-content: center;
  margin: 4px 4px;
}

.button {
  background-color: #e98742;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 12px;
}

.add-friends-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  font-size: 20px;
  background-color: #fbeac3;
  border-radius: 10px;
  margin-bottom: 20px;
}
.add-friends-form button {
  margin-left: 170px;
}

.friend-input input {
  margin-left: 70px;
  height: 25px;
}

.url-input input {
  margin-left: 76px;
  height: 25px;
}

.form-split-bill {
  display: flex;
  flex-direction: column;
  background-color: #fbeac3;
  font-size: 18px;
  border-radius: 10px;
  gap: 20px;
  padding: 40px;
}

.form-split-bill h3 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.bill-value input {
  margin-left: 215px;
  height: 30px;
  width: 130px;
}

.you-expense input {
  margin-left: 195px;
  height: 30px;
  width: 130px;
}

.names input {
  margin-left: 174px;
  height: 30px;
  width: 130px;
}

.who select {
  margin-left: 113px;
  height: 30px;
  width: 130px;
  text-align: center;
  font-weight: 600;
}

.form-split-bill button {
  margin-left: 280px;
}
.red {
  color: red;
}

.green {
  color: green;
}
